Repository mozilla-mobile/reference-browser, pull requests merged in 2021-07, with the labels that each got.

#1644 For #1643 fix intermitent UI test customTabRequestDesktopSiteTest
  app/src/androidTest/java/org/mozilla/reference/browser/ui/robots/CustomTabRobot.kt
Labels: eng:ui-test, needs landing

#1645 Bump Kotlin, Coroutines, Gradle Plugin and Compose versions
  app/build.gradle
  buildSrc/src/main/java/Config.kt
  buildSrc/src/main/java/Dependencies.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: needs landing

#1646 No Issue: Update Flank to v21.07.1
  taskcluster/docker/ui-tests/Dockerfile
Labels: eng:automation, eng:ui-test, needs landing
